#map{background-image:url(map75.jpg)}
#reinforcements{background-image:url(reinf75.webp); }
@media (min-resolution: 97dpi) {
#map{background-image:url(map150.jpg)}
#reinforcements{background-image:url(reinf150.webp)}
}

.marker.mini.fort_destroyed { background-image: url(pieces/fort_destroyed.webp); background-size: 18px 18px; }

/* SMALL MARKERS 36x36 */
.marker.action { background-image: url(pieces/action.webp); background-size: 216px 72px; }
.marker.attack { background-image: url(pieces/attack.webp); background-size: 36px 36px; }
.marker.move { background-image: url(pieces/move.webp); background-size: 36px 36px; }
.marker.game_turn { background-image: url(pieces/game_turn.webp); background-size: 36px 36px; }
.marker.game_turn.back { background-image: url(pieces/game_turn_back.webp); background-size: 36px 36px; }
.marker.current_cp_russian_vp { background-image: url(pieces/current_cp_russian_vp.webp); background-size: 36px 36px; }
.marker.tsar_fell_cp_russian_vp { background-image: url(pieces/tsar_fell_cp_russian_vp.webp); background-size: 36px 36px; }
.marker.influenza { background-image: url(pieces/influenza.webp); background-size: 36px 36px; }
.marker.trench_attempt { background-image: url(pieces/trench_attempt.webp); background-size: 36px 36px; }
.marker.russian_capitulation { background-image: url(pieces/russian_capitulation.webp); background-size: 36px 36px; }
.marker.us_entry { background-image: url(pieces/us_entry.webp); background-size: 36px 36px; }
.marker.us_points { background-image: url(pieces/us_points.webp); background-size: 36px 36px; }

/* REGULAR MARKERS 45x45 */
.marker.ap.control { background-image: url(pieces/ap_control.webp); background-size: 45px 45px; }
.marker.cp.control { background-image: url(pieces/cp_control.webp); background-size: 45px 45px; }
.marker.eleventh_army { background-image: url(pieces/11th_army.webp); background-size: 45px 45px; }
.marker.ah_rp { background-image: url(pieces/ah_rp.webp); background-size: 45px 45px; }
.marker.ap.mandatory_offensive { background-image: url(pieces/allied_mandatory_offensive.webp); background-size: 45px 45px; }
.marker.ap.mandatory_offensive.fr_mutiny { background-image: url(pieces/french_mutiny.webp); background-size: 45px 45px; }
.marker.allied_rp { background-image: url(pieces/allied_rp.webp); background-size: 45px 45px; }
.marker.ap.war_status { background-image: url(pieces/allied_war_status.webp); background-size: 45px 45px; }
.marker.ap.bid { background-image: url(pieces/ap_bid.webp); background-size: 45px 45px; }
.marker.ap_missed_mo { background-image: url(pieces/ap_missed_mo.webp); background-size: 45px 45px; }
.marker.ap.oos { background-image: url(pieces/ap_oos.webp); background-size: 45px 45px; }
.marker.ap.trench_1 { background-image: url(pieces/ap_trench_1.webp); background-size: 45px 45px; }
.marker.ap.trench_2 { background-image: url(pieces/ap_trench_2.webp); background-size: 45px 45px; }
.marker.blockade_vps { background-image: url(pieces/blockade_vps.webp); background-size: 45px 45px; }
.marker.br_rp { background-image: url(pieces/br_rp.webp); background-size: 45px 45px; }
.marker.br_rp.back { background-image: url(pieces/br_rp_back.webp); background-size: 45px 45px; }
.marker.bu_rp { background-image: url(pieces/bu_rp.webp); background-size: 45px 45px; }
.marker.combined_war_status { background-image: url(pieces/combined_war_status.webp); background-size: 45px 45px; }
.marker.combined_war_status.back { background-image: url(pieces/combined_war_status_back.webp); background-size: 45px 45px; }
.marker.cp.bid { background-image: url(pieces/cp_bid.webp); background-size: 45px 45px; }
.marker.cp.done { background-image: url(pieces/cp_done.webp); background-size: 45px 45px; }
.marker.cp.mandatory_offensive { background-image: url(pieces/cp_mandatory_offensive.webp); background-size: 45px 45px; }
.marker.cp_missed_mo { background-image: url(pieces/cp_missed_mo.webp); background-size: 45px 45px; }
.marker.cp.oos { background-image: url(pieces/cp_oos.webp); background-size: 45px 45px; }
.marker.cp.trench_1 { background-image: url(pieces/cp_trench_1.webp); background-size: 45px 45px; }
.marker.cp.trench_2 { background-image: url(pieces/cp_trench_2.webp); background-size: 45px 45px; }
.marker.cp.war_status { background-image: url(pieces/cp_war_status.webp); background-size: 45px 45px; }
.marker.fort_besieged { background-image: url(pieces/fort_besieged.webp); background-size: 45px 45px; }
.marker.fort_destroyed { background-image: url(pieces/fort_destroyed.webp); background-size: 45px 45px; }
.marker.fr_rp { background-image: url(pieces/fr_rp.webp); background-size: 45px 45px; }
.marker.ge_rp { background-image: url(pieces/ge_rp.webp); background-size: 45px 45px; }
.marker.ge_rp.back { background-image: url(pieces/ge_rp_back.webp); background-size: 45px 45px; }
.marker.haig { background-image: url(pieces/haig.webp); background-size: 45px 45px; }
.marker.it_rp { background-image: url(pieces/it_rp.webp); background-size: 45px 45px; }
.marker.lusitania { background-image: url(pieces/lusitania.webp); background-size: 45px 45px; }
.marker.mef_beachhead { background-image: url(pieces/mef_beachhead.webp); background-size: 45px 45px; }
.marker.prince_max { background-image: url(pieces/prince_max.webp); background-size: 45px 45px; }
.marker.ru_rp { background-image: url(pieces/ru_rp.webp); background-size: 45px 45px; }
.marker.sinai_pipeline { background-image: url(pieces/sinai_pipeline.webp); background-size: 45px 45px; }
.marker.stavka_timidity { background-image: url(pieces/stavka_timidity.webp); background-size: 45px 45px; }
.marker.sud_army { background-image: url(pieces/sud_army.webp); background-size: 45px 45px; }
.marker.tu_rp { background-image: url(pieces/tu_rp.webp); background-size: 45px 45px; }
.marker.us_rp { background-image: url(pieces/us_rp.webp); background-size: 45px 45px; }
.marker.vp { background-image: url(pieces/vp.webp); background-size: 45px 45px; }

/* TEMP: For markers that are missing images, use CSS to insert some text */
.marker { line-height: 10px; font-family: var(--font-small); font-size: 8px; text-align: center; }
.marker::before { position: absolute; inset: 3px; padding: 4px 0px 0px 0px; }

.marker.guns_of_august::before { content:"Guns of August"; }
.marker.falkenhayn::before { content:"Falken\ad hayn"; }
.marker.salonika::before { content:"Salonika"; }
.marker.h_l_take_command::before { content:"H-L Take Command"; }
.marker.zeppelin_raids::before { content:"Zeppelin Raids"; }
.marker.hoffmann::before { content:"Hoffmann"; }
.marker.race_to_the_sea::before { content:"Race to the Sea"; }
.marker.moltke::before { content:"Moltke"; }
.marker.oberost::before { content:"Oberost"; }
.marker.great_retreat::before { content:"Great Retreat"; }
.marker.landships::before { content:"Land\ad ships"; }
.marker.entrench::before { content:"Entrench"; }
.marker.reichstag_truce::before { content:"Reichstag Truce +1\a0 VP"; }
.marker.high_seas_fleet::before { content:"High Seas Fleet +1\a0 VP"; }
.marker.polish_restoration::before { content:"Polish Restor. \2212 1\a0 VP"; }
.marker.rape_of_belgium::before { content:"Rape of Belgium \2212 1\a0 VP"; }
.marker.convoy::before { content:"Convoy \2212 1\a0 VP"; }
.marker.independent_air_force::before { content:"Indep. Air Force"; }
.marker.michael::before { content:"Michael"; }
.marker.blucher::before { content:"Blucher"; }
.marker.peace_offensive::before { content:"Peace Offensive"; }
.marker.uboats_unleashed::before { content:"U-Boats Unleashed"; }
.marker.sixtus::before { content:"The Sixtus Affair"; }
.marker.everyone_into_battle::before { content:"Everyone into Battle"; }
.marker.lloyd_george::before { content:"Lloyd George"; }
.marker.brusilov_offensive::before { content: "Brusilov Offensive"; }
.marker.zimmermann_telegram::before { content: "Zimmer- mann Telegram"; }
.marker.walter_rathenau::before { content:"Walter Rathenau"; }
.marker.place_of_execution::before { content:"Place of Execution"; }
.marker.tsar_takes_command::before { content:"Tsar Takes Command"; }
.marker.war_in_africa::before { content:"War in Africa"; }
.marker.bolshevik_revolution::before { content:"Bolshevik Revolution"; }
.marker.treaty_of_brest_litovsk::before { content:"Treaty of Brest Litovsk"; }
.marker.french_mutiny::before { content:"French Mutiny"; }
.marker.over_there::before { content:"Over There"; }
.marker.grand_fleet::before { content:"Grand Fleet"; }

.marker.italy::before { content:"Italy"; }
.marker.romania::before { content:"Romania"; }
.marker.greece::before { content:"Greece"; }
.marker.bulgaria::before { content:"Bulgaria"; }
.marker.br1::before { content:"BR 1"; }
.marker.br2::before { content:"BR 2"; }
.marker.mef::before { content:"MEF"; }
.marker.allenby::before { content:"Allenby"; }

/* VASSAL NE MARKERS */
.marker.ne_limit { background-size: 45px 45px; }
.marker.ne_limit.ru_ne_move { background-image: url(pieces/ru_ne_move3.png); }
.marker.ne_limit.ru_ne_move.used { background-image: url(pieces/ru_ne_move_used3.png); }
.marker.ne_limit.ru_ne_sr { background-image: url(pieces/ru_ne_sr2.png); }
.marker.ne_limit.ru_ne_sr.used { background-image: url(pieces/ru_ne_sr_used2.png); }
.marker.ne_limit.cp_ne_sr { background-image: url(pieces/cp_ne_sr2.png); }
.marker.ne_limit.cp_ne_sr.used { background-image: url(pieces/cp_ne_sr_used2.png); }
.marker.ne_limit.br_ne_sr { background-image: url(pieces/br_ne_sr2.png); }
.marker.ne_limit.br_ne_sr.used { background-image: url(pieces/br_ne_sr_used2.png); }

/* LARGE NEUTRAL BADGE */
.marker.neutral { background-image: url(pieces/neutral.png); }

/* ARMIES (45x45) */
.army_ah { background-image: url(pieces/army_ah.webp); background-size: 405px 90px; }
.army_be { background-image: url(pieces/army_be.webp); background-size: 45px 90px; }
.army_br { background-image: url(pieces/army_br.webp); background-size: 360px 90px; }
.army_fr { background-image: url(pieces/army_fr.webp); background-size: 450px 90px; }
.army_ge { background-image: url(pieces/army_ge.webp); background-size: 675px 90px; }
.army_it { background-image: url(pieces/army_it.webp); background-size: 225px 90px; }
.army_ru { background-image: url(pieces/army_ru.webp); background-size: 585px 90px; }
.army_sb { background-image: url(pieces/army_sb.webp); background-size: 90px 90px; }
.army_us { background-image: url(pieces/army_usa.webp); background-size: 90px 90px; }
.army_tu { background-image: url(pieces/army_tu.webp); background-size: 90px 90px; }

/* CORPS (36x36) */
.corps_ah { background-image: url(pieces/corps_ah.webp); background-size: 36px 72px; }
.corps_be { background-image: url(pieces/corps_be.webp); background-size: 36px 72px; }
.corps_br { background-image: url(pieces/corps_br.webp); background-size: 216px 72px; }
.corps_bu { background-image: url(pieces/corps_bu.webp); background-size: 36px 72px; }
.corps_czl { background-image: url(pieces/corps_czl.webp); background-size: 36px 72px; }
.corps_fr { background-image: url(pieces/corps_fr.webp); background-size: 36px 72px; }
.corps_ge { background-image: url(pieces/corps_ge.webp); background-size: 36px 72px; }
.corps_gr { background-image: url(pieces/corps_gr.webp); background-size: 36px 72px; }
.corps_it { background-image: url(pieces/corps_it.webp); background-size: 36px 72px; }
.corps_mn { background-image: url(pieces/corps_mn.webp); background-size: 36px 72px; }
.corps_pol { background-image: url(pieces/corps_pol.webp); background-size: 36px 72px; }
.corps_ro { background-image: url(pieces/corps_ro.webp); background-size: 36px 72px; }
.corps_ru { background-image: url(pieces/corps_ru.webp); background-size: 72px 72px; }
.corps_sb { background-image: url(pieces/corps_sb.webp); background-size: 36px 72px; }
.corps_tu { background-image: url(pieces/corps_tu.webp); background-size: 72px 72px; }
.corps_us { background-image: url(pieces/corps_usa.webp); background-size: 36px 72px; }

/* CARDS */
.card_ap_0{background-image:url(cards.1x/card_back_ap.avif)}
.card_ap_1{background-image:url(cards.1x/card_ap_01.avif)}
.card_ap_2{background-image:url(cards.1x/card_ap_02.avif)}
.card_ap_3{background-image:url(cards.1x/card_ap_03.avif)}
.card_ap_4{background-image:url(cards.1x/card_ap_04.avif)}
.card_ap_5{background-image:url(cards.1x/card_ap_05.avif)}
.card_ap_6{background-image:url(cards.1x/card_ap_06.avif)}
.card_ap_7{background-image:url(cards.1x/card_ap_07.avif)}
.card_ap_8{background-image:url(cards.1x/card_ap_08.avif)}
.card_ap_9{background-image:url(cards.1x/card_ap_09.avif)}
.card_ap_10{background-image:url(cards.1x/card_ap_10.avif)}
.card_ap_11{background-image:url(cards.1x/card_ap_11.avif)}
.card_ap_12{background-image:url(cards.1x/card_ap_12.avif)}
.card_ap_13{background-image:url(cards.1x/card_ap_13.avif)}
.card_ap_14{background-image:url(cards.1x/card_ap_14.avif)}
.card_ap_15{background-image:url(cards.1x/card_ap_15.avif)}
.card_ap_16{background-image:url(cards.1x/card_ap_16.avif)}
.card_ap_17{background-image:url(cards.1x/card_ap_17.avif)}
.card_ap_18{background-image:url(cards.1x/card_ap_18.avif)}
.card_ap_19{background-image:url(cards.1x/card_ap_19.avif)}
.card_ap_20{background-image:url(cards.1x/card_ap_20.avif)}
.card_ap_21{background-image:url(cards.1x/card_ap_21.avif)}
.card_ap_22{background-image:url(cards.1x/card_ap_22.avif)}
.card_ap_23{background-image:url(cards.1x/card_ap_23.avif)}
.card_ap_24{background-image:url(cards.1x/card_ap_24.avif)}
.card_ap_25{background-image:url(cards.1x/card_ap_25.avif)}
.card_ap_26{background-image:url(cards.1x/card_ap_26.avif)}
.card_ap_27{background-image:url(cards.1x/card_ap_27.avif)}
.card_ap_27_v{background-image:url(cards.1x/card_ap_27_v.avif)}
.card_ap_28{background-image:url(cards.1x/card_ap_28.avif)}
.card_ap_29{background-image:url(cards.1x/card_ap_29.avif)}
.card_ap_30{background-image:url(cards.1x/card_ap_30.avif)}
.card_ap_31{background-image:url(cards.1x/card_ap_31.avif)}
.card_ap_32{background-image:url(cards.1x/card_ap_32.avif)}
.card_ap_33{background-image:url(cards.1x/card_ap_33.avif)}
.card_ap_34{background-image:url(cards.1x/card_ap_34.avif)}
.card_ap_35{background-image:url(cards.1x/card_ap_35.avif)}
.card_ap_36{background-image:url(cards.1x/card_ap_36.avif)}
.card_ap_37{background-image:url(cards.1x/card_ap_37.avif)}
.card_ap_38{background-image:url(cards.1x/card_ap_38.avif)}
.card_ap_39{background-image:url(cards.1x/card_ap_39.avif)}
.card_ap_40{background-image:url(cards.1x/card_ap_40.avif)}
.card_ap_41{background-image:url(cards.1x/card_ap_41.avif)}
.card_ap_42{background-image:url(cards.1x/card_ap_42.avif)}
.card_ap_43{background-image:url(cards.1x/card_ap_43.avif)}
.card_ap_44{background-image:url(cards.1x/card_ap_44.avif)}
.card_ap_45{background-image:url(cards.1x/card_ap_45.avif)}
.card_ap_46{background-image:url(cards.1x/card_ap_46.avif)}
.card_ap_47{background-image:url(cards.1x/card_ap_47.avif)}
.card_ap_48{background-image:url(cards.1x/card_ap_48.avif)}
.card_ap_48_v{background-image:url(cards.1x/card_ap_48_v.avif)}
.card_ap_49{background-image:url(cards.1x/card_ap_49.avif)}
.card_ap_50{background-image:url(cards.1x/card_ap_50.avif)}
.card_ap_51{background-image:url(cards.1x/card_ap_51.avif)}
.card_ap_52{background-image:url(cards.1x/card_ap_52.avif)}
.card_ap_53{background-image:url(cards.1x/card_ap_53.avif)}
.card_ap_54{background-image:url(cards.1x/card_ap_54.avif)}
.card_ap_55{background-image:url(cards.1x/card_ap_55.avif)}
.card_ap_56{background-image:url(cards.1x/card_ap_56.avif)}
.card_ap_57{background-image:url(cards.1x/card_ap_57.avif)}
.card_ap_58{background-image:url(cards.1x/card_ap_58.avif)}
.card_ap_59{background-image:url(cards.1x/card_ap_59.avif)}
.card_ap_60{background-image:url(cards.1x/card_ap_60.avif)}
.card_ap_61{background-image:url(cards.1x/card_ap_61.avif)}
.card_ap_62{background-image:url(cards.1x/card_ap_62.avif)}
.card_ap_62_v{background-image:url(cards.1x/card_ap_62_v.avif)}
.card_ap_63{background-image:url(cards.1x/card_ap_63.avif)}
.card_ap_64{background-image:url(cards.1x/card_ap_64.avif)}
.card_ap_65{background-image:url(cards.1x/card_ap_65.avif)}
.card_cp_0{background-image:url(cards.1x/card_back_cp.avif)}
.card_cp_1{background-image:url(cards.1x/card_cp_01.avif)}
.card_cp_2{background-image:url(cards.1x/card_cp_02.avif)}
.card_cp_3{background-image:url(cards.1x/card_cp_03.avif)}
.card_cp_4{background-image:url(cards.1x/card_cp_04.avif)}
.card_cp_5{background-image:url(cards.1x/card_cp_05.avif)}
.card_cp_6{background-image:url(cards.1x/card_cp_06.avif)}
.card_cp_7{background-image:url(cards.1x/card_cp_07.avif)}
.card_cp_8{background-image:url(cards.1x/card_cp_08.avif)}
.card_cp_9{background-image:url(cards.1x/card_cp_09.avif)}
.card_cp_10{background-image:url(cards.1x/card_cp_10.avif)}
.card_cp_11{background-image:url(cards.1x/card_cp_11.avif)}
.card_cp_12{background-image:url(cards.1x/card_cp_12.avif)}
.card_cp_13{background-image:url(cards.1x/card_cp_13.avif)}
.card_cp_14{background-image:url(cards.1x/card_cp_14.avif)}
.card_cp_15{background-image:url(cards.1x/card_cp_15.avif)}
.card_cp_16{background-image:url(cards.1x/card_cp_16.avif)}
.card_cp_17{background-image:url(cards.1x/card_cp_17.avif)}
.card_cp_18{background-image:url(cards.1x/card_cp_18.avif)}
.card_cp_19{background-image:url(cards.1x/card_cp_19.avif)}
.card_cp_20{background-image:url(cards.1x/card_cp_20.avif)}
.card_cp_21{background-image:url(cards.1x/card_cp_21.avif)}
.card_cp_22{background-image:url(cards.1x/card_cp_22.avif)}
.card_cp_23{background-image:url(cards.1x/card_cp_23.avif)}
.card_cp_24{background-image:url(cards.1x/card_cp_24.avif)}
.card_cp_25{background-image:url(cards.1x/card_cp_25.avif)}
.card_cp_26{background-image:url(cards.1x/card_cp_26.avif)}
.card_cp_27{background-image:url(cards.1x/card_cp_27.avif)}
.card_cp_28{background-image:url(cards.1x/card_cp_28.avif)}
.card_cp_29{background-image:url(cards.1x/card_cp_29.avif)}
.card_cp_30{background-image:url(cards.1x/card_cp_30.avif)}
.card_cp_31{background-image:url(cards.1x/card_cp_31.avif)}
.card_cp_32{background-image:url(cards.1x/card_cp_32.avif)}
.card_cp_33{background-image:url(cards.1x/card_cp_33.avif)}
.card_cp_34{background-image:url(cards.1x/card_cp_34.avif)}
.card_cp_35{background-image:url(cards.1x/card_cp_35.avif)}
.card_cp_36{background-image:url(cards.1x/card_cp_36.avif)}
.card_cp_37{background-image:url(cards.1x/card_cp_37.avif)}
.card_cp_38{background-image:url(cards.1x/card_cp_38.avif)}
.card_cp_39{background-image:url(cards.1x/card_cp_39.avif)}
.card_cp_40{background-image:url(cards.1x/card_cp_40.avif)}
.card_cp_41{background-image:url(cards.1x/card_cp_41.avif)}
.card_cp_42{background-image:url(cards.1x/card_cp_42.avif)}
.card_cp_43{background-image:url(cards.1x/card_cp_43.avif)}
.card_cp_44{background-image:url(cards.1x/card_cp_44.avif)}
.card_cp_45{background-image:url(cards.1x/card_cp_45.avif)}
.card_cp_46{background-image:url(cards.1x/card_cp_46.avif)}
.card_cp_47{background-image:url(cards.1x/card_cp_47.avif)}
.card_cp_48{background-image:url(cards.1x/card_cp_48.avif)}
.card_cp_49{background-image:url(cards.1x/card_cp_49.avif)}
.card_cp_50{background-image:url(cards.1x/card_cp_50.avif)}
.card_cp_51{background-image:url(cards.1x/card_cp_51.avif)}
.card_cp_52{background-image:url(cards.1x/card_cp_52.avif)}
.card_cp_53{background-image:url(cards.1x/card_cp_53.avif)}
.card_cp_54{background-image:url(cards.1x/card_cp_54.avif)}
.card_cp_55{background-image:url(cards.1x/card_cp_55.avif)}
.card_cp_56{background-image:url(cards.1x/card_cp_56.avif)}
.card_cp_57{background-image:url(cards.1x/card_cp_57.avif)}
.card_cp_58{background-image:url(cards.1x/card_cp_58.avif)}
.card_cp_59{background-image:url(cards.1x/card_cp_59.avif)}
.card_cp_60{background-image:url(cards.1x/card_cp_60.avif)}
.card_cp_61{background-image:url(cards.1x/card_cp_61.avif)}
.card_cp_62{background-image:url(cards.1x/card_cp_62.avif)}
.card_cp_63{background-image:url(cards.1x/card_cp_63.avif)}
.card_cp_64{background-image:url(cards.1x/card_cp_64.avif)}
.card_cp_65{background-image:url(cards.1x/card_cp_65.avif)}
.card_cp_65_v{background-image:url(cards.1x/card_cp_65_v.avif)}

/* CARDS @2x*/
@media (min-resolution: 97dpi) {
.card_ap_0{background-image:url(cards.2x/card_back_ap.avif)}
.card_ap_1{background-image:url(cards.2x/card_ap_01.avif)}
.card_ap_2{background-image:url(cards.2x/card_ap_02.avif)}
.card_ap_3{background-image:url(cards.2x/card_ap_03.avif)}
.card_ap_4{background-image:url(cards.2x/card_ap_04.avif)}
.card_ap_5{background-image:url(cards.2x/card_ap_05.avif)}
.card_ap_6{background-image:url(cards.2x/card_ap_06.avif)}
.card_ap_7{background-image:url(cards.2x/card_ap_07.avif)}
.card_ap_8{background-image:url(cards.2x/card_ap_08.avif)}
.card_ap_9{background-image:url(cards.2x/card_ap_09.avif)}
.card_ap_10{background-image:url(cards.2x/card_ap_10.avif)}
.card_ap_11{background-image:url(cards.2x/card_ap_11.avif)}
.card_ap_12{background-image:url(cards.2x/card_ap_12.avif)}
.card_ap_13{background-image:url(cards.2x/card_ap_13.avif)}
.card_ap_14{background-image:url(cards.2x/card_ap_14.avif)}
.card_ap_15{background-image:url(cards.2x/card_ap_15.avif)}
.card_ap_16{background-image:url(cards.2x/card_ap_16.avif)}
.card_ap_17{background-image:url(cards.2x/card_ap_17.avif)}
.card_ap_18{background-image:url(cards.2x/card_ap_18.avif)}
.card_ap_19{background-image:url(cards.2x/card_ap_19.avif)}
.card_ap_20{background-image:url(cards.2x/card_ap_20.avif)}
.card_ap_21{background-image:url(cards.2x/card_ap_21.avif)}
.card_ap_22{background-image:url(cards.2x/card_ap_22.avif)}
.card_ap_23{background-image:url(cards.2x/card_ap_23.avif)}
.card_ap_24{background-image:url(cards.2x/card_ap_24.avif)}
.card_ap_25{background-image:url(cards.2x/card_ap_25.avif)}
.card_ap_26{background-image:url(cards.2x/card_ap_26.avif)}
.card_ap_27{background-image:url(cards.2x/card_ap_27.avif)}
.card_ap_27_v{background-image:url(cards.2x/card_ap_27_v.avif)}
.card_ap_28{background-image:url(cards.2x/card_ap_28.avif)}
.card_ap_29{background-image:url(cards.2x/card_ap_29.avif)}
.card_ap_30{background-image:url(cards.2x/card_ap_30.avif)}
.card_ap_31{background-image:url(cards.2x/card_ap_31.avif)}
.card_ap_32{background-image:url(cards.2x/card_ap_32.avif)}
.card_ap_33{background-image:url(cards.2x/card_ap_33.avif)}
.card_ap_34{background-image:url(cards.2x/card_ap_34.avif)}
.card_ap_35{background-image:url(cards.2x/card_ap_35.avif)}
.card_ap_36{background-image:url(cards.2x/card_ap_36.avif)}
.card_ap_37{background-image:url(cards.2x/card_ap_37.avif)}
.card_ap_38{background-image:url(cards.2x/card_ap_38.avif)}
.card_ap_39{background-image:url(cards.2x/card_ap_39.avif)}
.card_ap_40{background-image:url(cards.2x/card_ap_40.avif)}
.card_ap_41{background-image:url(cards.2x/card_ap_41.avif)}
.card_ap_42{background-image:url(cards.2x/card_ap_42.avif)}
.card_ap_43{background-image:url(cards.2x/card_ap_43.avif)}
.card_ap_44{background-image:url(cards.2x/card_ap_44.avif)}
.card_ap_45{background-image:url(cards.2x/card_ap_45.avif)}
.card_ap_46{background-image:url(cards.2x/card_ap_46.avif)}
.card_ap_47{background-image:url(cards.2x/card_ap_47.avif)}
.card_ap_48{background-image:url(cards.2x/card_ap_48.avif)}
.card_ap_48_v{background-image:url(cards.2x/card_ap_48_v.avif)}
.card_ap_49{background-image:url(cards.2x/card_ap_49.avif)}
.card_ap_50{background-image:url(cards.2x/card_ap_50.avif)}
.card_ap_51{background-image:url(cards.2x/card_ap_51.avif)}
.card_ap_52{background-image:url(cards.2x/card_ap_52.avif)}
.card_ap_53{background-image:url(cards.2x/card_ap_53.avif)}
.card_ap_54{background-image:url(cards.2x/card_ap_54.avif)}
.card_ap_55{background-image:url(cards.2x/card_ap_55.avif)}
.card_ap_56{background-image:url(cards.2x/card_ap_56.avif)}
.card_ap_57{background-image:url(cards.2x/card_ap_57.avif)}
.card_ap_58{background-image:url(cards.2x/card_ap_58.avif)}
.card_ap_59{background-image:url(cards.2x/card_ap_59.avif)}
.card_ap_60{background-image:url(cards.2x/card_ap_60.avif)}
.card_ap_61{background-image:url(cards.2x/card_ap_61.avif)}
.card_ap_62{background-image:url(cards.2x/card_ap_62.avif)}
.card_ap_62_v{background-image:url(cards.2x/card_ap_62_v.avif)}
.card_ap_63{background-image:url(cards.2x/card_ap_63.avif)}
.card_ap_64{background-image:url(cards.2x/card_ap_64.avif)}
.card_ap_65{background-image:url(cards.2x/card_ap_65.avif)}
.card_cp_0{background-image:url(cards.2x/card_back_cp.avif)}
.card_cp_1{background-image:url(cards.2x/card_cp_01.avif)}
.card_cp_2{background-image:url(cards.2x/card_cp_02.avif)}
.card_cp_3{background-image:url(cards.2x/card_cp_03.avif)}
.card_cp_4{background-image:url(cards.2x/card_cp_04.avif)}
.card_cp_5{background-image:url(cards.2x/card_cp_05.avif)}
.card_cp_6{background-image:url(cards.2x/card_cp_06.avif)}
.card_cp_7{background-image:url(cards.2x/card_cp_07.avif)}
.card_cp_8{background-image:url(cards.2x/card_cp_08.avif)}
.card_cp_9{background-image:url(cards.2x/card_cp_09.avif)}
.card_cp_10{background-image:url(cards.2x/card_cp_10.avif)}
.card_cp_11{background-image:url(cards.2x/card_cp_11.avif)}
.card_cp_12{background-image:url(cards.2x/card_cp_12.avif)}
.card_cp_13{background-image:url(cards.2x/card_cp_13.avif)}
.card_cp_14{background-image:url(cards.2x/card_cp_14.avif)}
.card_cp_15{background-image:url(cards.2x/card_cp_15.avif)}
.card_cp_16{background-image:url(cards.2x/card_cp_16.avif)}
.card_cp_17{background-image:url(cards.2x/card_cp_17.avif)}
.card_cp_18{background-image:url(cards.2x/card_cp_18.avif)}
.card_cp_19{background-image:url(cards.2x/card_cp_19.avif)}
.card_cp_20{background-image:url(cards.2x/card_cp_20.avif)}
.card_cp_21{background-image:url(cards.2x/card_cp_21.avif)}
.card_cp_22{background-image:url(cards.2x/card_cp_22.avif)}
.card_cp_23{background-image:url(cards.2x/card_cp_23.avif)}
.card_cp_24{background-image:url(cards.2x/card_cp_24.avif)}
.card_cp_25{background-image:url(cards.2x/card_cp_25.avif)}
.card_cp_26{background-image:url(cards.2x/card_cp_26.avif)}
.card_cp_27{background-image:url(cards.2x/card_cp_27.avif)}
.card_cp_28{background-image:url(cards.2x/card_cp_28.avif)}
.card_cp_29{background-image:url(cards.2x/card_cp_29.avif)}
.card_cp_30{background-image:url(cards.2x/card_cp_30.avif)}
.card_cp_31{background-image:url(cards.2x/card_cp_31.avif)}
.card_cp_32{background-image:url(cards.2x/card_cp_32.avif)}
.card_cp_33{background-image:url(cards.2x/card_cp_33.avif)}
.card_cp_34{background-image:url(cards.2x/card_cp_34.avif)}
.card_cp_35{background-image:url(cards.2x/card_cp_35.avif)}
.card_cp_36{background-image:url(cards.2x/card_cp_36.avif)}
.card_cp_37{background-image:url(cards.2x/card_cp_37.avif)}
.card_cp_38{background-image:url(cards.2x/card_cp_38.avif)}
.card_cp_39{background-image:url(cards.2x/card_cp_39.avif)}
.card_cp_40{background-image:url(cards.2x/card_cp_40.avif)}
.card_cp_41{background-image:url(cards.2x/card_cp_41.avif)}
.card_cp_42{background-image:url(cards.2x/card_cp_42.avif)}
.card_cp_43{background-image:url(cards.2x/card_cp_43.avif)}
.card_cp_44{background-image:url(cards.2x/card_cp_44.avif)}
.card_cp_45{background-image:url(cards.2x/card_cp_45.avif)}
.card_cp_46{background-image:url(cards.2x/card_cp_46.avif)}
.card_cp_47{background-image:url(cards.2x/card_cp_47.avif)}
.card_cp_48{background-image:url(cards.2x/card_cp_48.avif)}
.card_cp_49{background-image:url(cards.2x/card_cp_49.avif)}
.card_cp_50{background-image:url(cards.2x/card_cp_50.avif)}
.card_cp_51{background-image:url(cards.2x/card_cp_51.avif)}
.card_cp_52{background-image:url(cards.2x/card_cp_52.avif)}
.card_cp_53{background-image:url(cards.2x/card_cp_53.avif)}
.card_cp_54{background-image:url(cards.2x/card_cp_54.avif)}
.card_cp_55{background-image:url(cards.2x/card_cp_55.avif)}
.card_cp_56{background-image:url(cards.2x/card_cp_56.avif)}
.card_cp_57{background-image:url(cards.2x/card_cp_57.avif)}
.card_cp_58{background-image:url(cards.2x/card_cp_58.avif)}
.card_cp_59{background-image:url(cards.2x/card_cp_59.avif)}
.card_cp_60{background-image:url(cards.2x/card_cp_60.avif)}
.card_cp_61{background-image:url(cards.2x/card_cp_61.avif)}
.card_cp_62{background-image:url(cards.2x/card_cp_62.avif)}
.card_cp_63{background-image:url(cards.2x/card_cp_63.avif)}
.card_cp_64{background-image:url(cards.2x/card_cp_64.avif)}
.card_cp_65{background-image:url(cards.2x/card_cp_65.avif)}
.card_cp_65_v{background-image:url(cards.2x/card_cp_65_v.avif)}
}
