main { background-color: dimgray; }
aside { background-color: darkgray; }
header { background-color: gainsboro; }
body.AP header.your_turn { background-color: pink; }
body.CP header.your_turn { background-color: #c9e3f0; }
#role_ap, #log .h2.ap { background-color: pink; }
#role_cp, #log .h2.cp { background-color: #c9e3f0; }

.checked::before { content: "\2714  " }
.unchecked::before { content: "\2714  "; color:transparent; }

/* LOG */

#log { background-color: floralwhite; }
#log > div { padding-left: 20px; text-indent: -12px; }
#log .h1 { background-color: tan; font-weight: bold; padding-top:2px; padding-bottom:2px; text-align: center; }
#log .h2 { background-color: wheat; padding-top:2px; padding-bottom:2px; text-align: center; }
#log .h3 { background-color: antiquewhite; padding-top:2px; padding-bottom:2px; text-align: center; }
#log .b { text-transform: uppercase; }

#log .tip { color: blue; }
#log .tip:hover { text-decoration: underline; }
#log .spacetip:hover { text-decoration: underline; cursor: pointer; }

#log .indent {
    padding-left: 12px;
    text-indent: -12px;
}

#turn_info {
    position: relative;
}

#turn_info:hover #ap_deck_size {
    visibility: visible;
}

#turn_info:hover #cp_deck_size {
    visibility: visible;
}

#ap_deck_size {
    visibility: hidden;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

#cp_deck_size {
    visibility: hidden;
    position: absolute;
    right: 5px;
    bottom: 3px;
}


/* CARDS */

.hand {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 370px;
}

.card {
    width: 250px;
    height: 350px;
    border-radius: 16px;
    box-shadow: 1px 1px 4px #0004;
    transition: transform 100ms;
    background-color: #f1ead0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.card.highlight {
    box-shadow: 0 0 0 2px yellow;
}

.card.enabled {
    cursor: pointer;
}

.hand .card { margin: 10px; }
.hand .card { display: none; }
.hand .card.show { display: block; }

#turn_info {
    border-bottom: 1px solid black;
    padding: 15px 0;
}

#turn_info .card {
    width: 120px;
    height: 168px;
    border-radius: 8px;
    margin: 0 auto;
}

#tooltip {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 300;
    right: 240px;
    top: 60px;
}

#tooltip.show {
    display: block;
}


/* CARD LIST DIALOGS */

.card_list_dialog {
    position: fixed;
    width: 300px;
    border: 1px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    user-select: none;
}
.card_list_header {
    cursor: move;
    border-bottom: 1px solid black;
    background-color: tan;
    padding: 5px 10px;
}
.card_list_x {
    cursor: pointer;
    float: right;
    padding: 0px 2px;
    margin: 5px 5px;
}
.card_list_x:hover {
    background-color: black;
    color: white;
}
.card_list_body {
    padding: 5px 10px;
    background-color: floralwhite;
    overflow-y: scroll;
    max-height: 500px;
}
.card_list_body div {
    text-indent: -30px;
    margin-left: 30px;
}

#removed { top: 100px; left: 100px; z-index: 98; }
#discard { top: 100px; left: 425px; z-index: 99; }

/* POPUP MENUS */

.popup_menu {
    position: fixed;
    user-select: none;
    background-color: white;
    left: 10px;
    top: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 300;
    min-width: 20ex;
    white-space: nowrap;
    display: none;
    border: 1px solid black;
}
.popup_menu div { padding: 3pt 8pt; color: gray; display: none; }
.popup_menu div.enabled { color: black; display: block; }
.popup_menu div.enabled:hover { background-color: black; color: white; }
.popup_menu div.always { display: block; }
body:not(.shift) .popup_menu #menu_discard { display: none; }

/* MAP */

#mapwrap {
    position: relative;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    width: 2550px;
    height: 1650px;
}

#map {
    position: absolute;
    width: 2550px;
    height: 1650px;
    background-color: #ffedb3;
    background-size: cover;
    background-repeat: no-repeat;
}

#map.hide_pieces #pieces { display: none; }
#map.hide_markers #markers { display: none; }

#events {
    position: absolute;
    display: flex;
    top: 230px;
    left: 190px;
}

.event {
    margin: 3px;
}

#focus {
    position: absolute;
    background-color: black;
    opacity: 50%;
    box-shadow: 0 0 5px black;
    z-index: 100;
}

.offmap { display: none; }

.highlight {
    cursor: pointer;
    z-index: 200;
}

body.shift .highlight {
    pointer-events: none;
    z-index: 0;
}

/* SPACES */

#spaces {
    position: absolute;
}

#spaces div {
    position: absolute;
}

#spaces div.highlight {
    cursor: pointer;
    border-color: yellow;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

/* COUNTERS */

.unit, .marker {
    transition: left 200ms, top 200ms;
    position: absolute;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.unit.activated {
    transform: rotate(20deg);
}

.unit.army {
    width:45px;
    height:45px;
}
.unit.corps {
    width:36px;
    height:36px;
}

.unit.army_ix_1 { background-position: 0px 0px; }
.unit.army_ix_2 { background-position: -45px 0px; }
.unit.army_ix_3 { background-position: -90px 0px; }
.unit.army_ix_4 { background-position: -135px 0px; }
.unit.army_ix_5 { background-position: -180px 0px; }
.unit.army_ix_6 { background-position: -225px 0px; }
.unit.army_ix_7 { background-position: -270px 0px; }
.unit.army_ix_8 { background-position: -315px 0px; }
.unit.army_ix_9 { background-position: -360px 0px; }
.unit.army_ix_10 { background-position: -405px 0px; }
.unit.army_ix_11 { background-position: -495px 0px; }
.unit.army_ix_12 { background-position: -540px 0px; }
.unit.army_ix_13 { background-position: -585px 0px; }
.unit.army_ix_14 { background-position: -630px 0px; }
.unit.army_ix_15 { background-position: -675px 0px; }

.unit.army_ix_1.reduced { background-position: 0px -45px; }
.unit.army_ix_2.reduced { background-position: -45px -45px; }
.unit.army_ix_3.reduced { background-position: -90px -45px; }
.unit.army_ix_4.reduced { background-position: -135px -45px; }
.unit.army_ix_5.reduced { background-position: -180px -45px; }
.unit.army_ix_6.reduced { background-position: -225px -45px; }
.unit.army_ix_7.reduced { background-position: -270px -45px; }
.unit.army_ix_8.reduced { background-position: -315px -45px; }
.unit.army_ix_9.reduced { background-position: -360px -45px; }
.unit.army_ix_10.reduced { background-position: -405px -45px; }
.unit.army_ix_11.reduced { background-position: -495px -45px; }
.unit.army_ix_12.reduced { background-position: -540px -45px; }
.unit.army_ix_13.reduced { background-position: -585px -45px; }
.unit.army_ix_14.reduced { background-position: -630px -45px; }
.unit.army_ix_15.reduced { background-position: -675px -45px; }

.unit.corps_ix_1 { background-position: 0px 0px; }
.unit.corps_ix_2 { background-position: -36px 0px; }
.unit.corps_ix_3 { background-position: -72px 0px; }
.unit.corps_ix_4 { background-position: -108px 0px; }
.unit.corps_ix_5 { background-position: -144px 0px; }
.unit.corps_ix_6 { background-position: -180px 0px; }

.unit.corps_ix_1.reduced { background-position: 0px -36px; }
.unit.corps_ix_2.reduced { background-position: -36px -36px; }
.unit.corps_ix_3.reduced { background-position: -72px -36px; }
.unit.corps_ix_4.reduced { background-position: -108px -36px; }
.unit.corps_ix_5.reduced { background-position: -144px -36px; }
.unit.corps_ix_6.reduced { background-position: -180px -36px; }

/* FLAT STYLE */

body.flat .unit,
body.flat .marker,
body.flat .event {
    border-width: 1px;
    border-style: solid;
}

body.flat .unit.highlight {
    box-shadow:0 0 0 2px yellow;
}

body.flat .unit.selected {
    box-shadow:0 0 0 2px crimson;
}

/* BEVEL STYLE ( top right bottom left ) */

body.bevel .unit,
body.bevel .marker,
body.bevel .event {
    border-width: 2px;
    border-style: solid;
}

/* TRACKS */
/* Turn */
.turn_1 { left: 71px; top: 106px; }
.turn_2 { left: 130px; top: 106px; }
.turn_3 { left: 189px; top: 106px; }
.turn_4 { left: 248px; top: 106px; }
.turn_5 { left: 307px; top: 106px; }
.turn_6 { left: 71px; top: 198px; }
.turn_7 { left: 130px; top: 198px; }
.turn_8 { left: 189px; top: 198px; }
.turn_9 { left: 248px; top: 198px; }
.turn_10 { left: 307px; top: 198px; }
.turn_11 { left: 71px; top: 290px; }
.turn_12 { left: 130px; top: 290px; }
.turn_13 { left: 189px; top: 290px; }
.turn_14 { left: 248px; top: 290px; }
.turn_15 { left: 307px; top: 290px; }
.turn_16 { left: 71px; top: 382px; }
.turn_17 { left: 130px; top: 382px; }
.turn_18 { left: 189px; top: 382px; }
.turn_19 { left: 248px; top: 382px; }
.turn_20 { left: 307px; top: 382px; }

/* General Records */
.gr_0 { left: 62px; top: 1350px; }
.gr_1 { left: 118px; top: 1350px; }
.gr_2 { left: 174px; top: 1350px; }
.gr_3 { left: 230px; top: 1350px; }
.gr_4 { left: 286px; top: 1350px; }
.gr_5 { left: 342px; top: 1350px; }
.gr_6 { left: 398px; top: 1350px; }
.gr_7 { left: 454px; top: 1350px; }
.gr_8 { left: 510px; top: 1350px; }
.gr_9 { left: 566px; top: 1350px; }
.gr_10 { left: 62px; top: 1416px; }
.gr_11 { left: 118px; top: 1416px; }
.gr_12 { left: 174px; top: 1416px; }
.gr_13 { left: 230px; top: 1416px; }
.gr_14 { left: 286px; top: 1416px; }
.gr_15 { left: 342px; top: 1416px; }
.gr_16 { left: 398px; top: 1416px; }
.gr_17 { left: 454px; top: 1416px; }
.gr_18 { left: 510px; top: 1416px; }
.gr_19 { left: 566px; top: 1416px; }
.gr_20 { left: 62px; top: 1482px; }
.gr_21 { left: 118px; top: 1482px; }
.gr_22 { left: 174px; top: 1482px; }
.gr_23 { left: 230px; top: 1482px; }
.gr_24 { left: 286px; top: 1482px; }
.gr_25 { left: 342px; top: 1482px; }
.gr_26 { left: 398px; top: 1482px; }
.gr_27 { left: 454px; top: 1482px; }
.gr_28 { left: 510px; top: 1482px; }
.gr_29 { left: 566px; top: 1482px; }
.gr_30 { left: 62px; top: 1548px; }
.gr_31 { left: 118px; top: 1548px; }
.gr_32 { left: 174px; top: 1548px; }
.gr_33 { left: 230px; top: 1548px; }
.gr_34 { left: 286px; top: 1548px; }
.gr_35 { left: 342px; top: 1548px; }
.gr_36 { left: 398px; top: 1548px; }
.gr_37 { left: 454px; top: 1548px; }
.gr_38 { left: 510px; top: 1548px; }
.gr_39 { left: 566px; top: 1548px; }
.gr_40 { left: 622px; top: 1548px; }

/* Russian Capitulation */
#rc_marker { top: 1254px; }
#rc_marker.rc_0 { left: 70px; }
#rc_marker.rc_1 { left: 124px; }
#rc_marker.rc_2 { left: 176px; }
#rc_marker.rc_3 { left: 228px; }
#rc_marker.rc_4 { left: 280px; }
#rc_marker.rc_5 { left: 332px; }
#rc_marker.rc_6 { left: 384px; }
#rc_marker.rc_7 { left: 436px; }

/* US Commitment */
#us_commitment_marker { top: 1157px; }
#us_commitment_marker.usc_0 { left: 64px; }
#us_commitment_marker.usc_1 { left: 116px; }
#us_commitment_marker.usc_2 { left: 168px; }
#us_commitment_marker.usc_3 { left: 220px; }

/* Mandated offensives */
#ap_mo { left: 1180px; top: 1542px; }
#ap_mo.fr { left: 1180px; }
#ap_mo.br { left: 1220px; }
#ap_mo.it { left: 1260px; }
#ap_mo.ru { left: 1300px; }
#ap_mo.none { left: 1340px; }

#cp_mo { left: 1210px; top: 72px; }
#cp_mo.ah { left: 1050px; }
#cp_mo.ah_it { left: 1090px; }
#cp_mo.tu { left: 1130px; }
#cp_mo.ge { left: 1170px; }
#cp_mo.none { left: 1210px; }

.action.cp.entry { left: 794px; top: 67px; }
.action.cp.ge_reinf { left: 794px; top: 114px; }
.action.cp.ah_reinf { left: 837px; top: 114px; }
.action.cp.tu_reinf { left: 879px; top: 114px; }
.action.cp.sr { left: 794px; top: 160px; }
.action.cp.rp { left: 837px; top: 160px; }
.action.cp.op { left: 794px; top: 208px; }
.action.cp.evt { left: 837px; top: 208px; }
.action.cp.oneop { left: 879px; top: 208px; }
.action.cp.peace { left: 921px; top: 208px; }

.action.ap.entry { left: 701px; top: 1414px; }
.action.ap.fr_reinf { left: 701px; top: 1461px; }
.action.ap.br_reinf { left: 743px; top: 1461px; }
.action.ap.ru_reinf { left: 785px; top: 1461px; }
.action.ap.it_reinf { left: 828px; top: 1461px; }
.action.ap.us_reinf { left: 870px; top: 1461px; }
.action.ap.sr { left: 701px; top: 1507px; }
.action.ap.rp { left: 743px; top: 1507px; }
.action.ap.op { left: 701px; top: 1554px; }
.action.ap.evt { left: 743px; top: 1554px; }
.action.ap.oneop { left: 785px; top: 1554px; }
.action.ap.peace { left: 828px; top: 1554px; }

/* MARKERS */

.marker{width:45px;height:45px;}
.marker.small{width:36px;height:36px}

.event{width:54px;height:54px;background-size:cover;display:none}
.event.show{display:block}

