main { background-color: steelblue; }
aside { background-color: darkgray; }
header { background-color: gainsboro; }
body.AP header.your_turn { background-color: lightskyblue; }
body.CP header.your_turn { background-color: darkgrey; }
#role_AP, #log .h2.ap { background-color: #bdf; }
#role_CP, #log .h2.cp { background-color: #fcb; }

aside { width: 220px; }

.checked::before { content: "\2714  " }
.unchecked::before { content: "\2714  "; color:transparent; }

/* LOG */

#log { background-color: floralwhite; }
#log > div { padding-left: 20px; text-indent: -12px; }
#log .h1 { background-color: tan; font-weight: bold; padding-top:2px; padding-bottom:2px; text-align: center; }
#log .h2 { background-color: wheat; padding-top:2px; padding-bottom:2px; text-align: center; }
#log .h3 { background-color: antiquewhite; padding-top:2px; padding-bottom:2px; text-align: center; }
#log .b { text-transform: uppercase; }

#log .tip { color: blue; }
#log .tip:hover { text-decoration: underline; }
#log .spacetip:hover { text-decoration: underline; cursor: pointer; }

#log .indent {
    padding-left: 12px;
    text-indent: -12px;
}

.card_info {
    position: relative;
}

.card_info:hover #ap_deck_size {
    visibility: visible;
}

.card_info:hover #cp_deck_size {
    visibility: visible;
}

#ap_deck_size {
    visibility: hidden;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

#cp_deck_size {
    visibility: hidden;
    position: absolute;
    right: 5px;
    bottom: 3px;
}


/* CARDS */

.hand {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 370px;
}

.card {
    width: 240px;
    height: 336px;
    border-radius: 16px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    transition: transform 100ms;
    background-color: #f1ead0;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #655c4d;

}

.card.highlight {
    box-shadow: 0 0 0 2px yellow;
}

.card.enabled {
    cursor: pointer;
}

.card.enabled:hover, .card.selected {
    transform: translateY(-10px);
}

.hand .card { margin: 10px; }
.hand .card { display: none; }
.hand .card.show { display: block; }

.card_info {
    border-bottom: 1px solid black;
    padding: 15px 0;
}

.card_info .card {
    width: 120px;
    height: 168px;
    border-radius: 8px;
    margin: 0 auto;
}

#tooltip {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 300;
    right: 240px;
    top: 60px;
}

#tooltip.show {
    display: block;
}


/* CARD LIST DIALOGS */

.card_list_dialog {
    position: fixed;
    width: 300px;
    border: 1px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    user-select: none;
}
.card_list_header {
    cursor: move;
    border-bottom: 1px solid black;
    background-color: tan;
    padding: 5px 10px;
}
.card_list_x {
    cursor: pointer;
    float: right;
    padding: 0px 2px;
    margin: 5px 5px;
}
.card_list_x:hover {
    background-color: black;
    color: white;
}
.card_list_body {
    padding: 5px 10px;
    background-color: floralwhite;
    overflow-y: scroll;
    max-height: 500px;
}
.card_list_body div {
    text-indent: -30px;
    margin-left: 30px;
}

#removed { top: 100px; left: 100px; z-index: 98; }
#discard { top: 100px; left: 425px; z-index: 99; }

/* POPUP MENUS */

.popup_menu {
    position: fixed;
    user-select: none;
    background-color: white;
    left: 10px;
    top: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 300;
    min-width: 20ex;
    white-space: nowrap;
    display: none;
    border: 1px solid black;
}
.popup_menu div { padding: 3pt 8pt; color: gray; display: none; }
.popup_menu div.enabled { color: black; display: block; }
.popup_menu div.enabled:hover { background-color: black; color: white; }
.popup_menu div.always { display: block; }
body:not(.shift) .popup_menu #menu_discard { display: none; }

/* MAP */

#mapwrap {
    position: relative;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    width: 2550px;
    height: 1650px;
}

#map {
    position: absolute;
    width: 2550px;
    height: 1650px;
    background-color: #ffedb3;
    background-size: cover;
    background-repeat: no-repeat;
}

#map.hide_pieces #pieces { display: none; }
#map.hide_markers #markers { display: none; }

#events {
    position: absolute;
    display: flex;
    top: 230px;
    left: 190px;
}

.event {
    margin: 3px;
}

#focus {
    position: absolute;
    background-color: black;
    opacity: 50%;
    box-shadow: 0 0 5px black;
    z-index: 100;
}

.offmap { display: none; }

.highlight {
    cursor: pointer;
    z-index: 200;
}

body.shift .highlight {
    pointer-events: none;
    z-index: 0;
}

/* SPACES */

#spaces {
    position: absolute;
}

#spaces div {
    position: absolute;
}

#spaces div.highlight {
    cursor: pointer;
    border-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

/* COUNTERS */

.unit, .marker {
    transition: left 200ms, top 200ms;
    position: absolute;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.unit.activated {
    transform: rotate(20deg);
}

.unit.army {
    width:45px;
    height:45px;
}
.unit.corps {
    width:36px;
    height:36px;
}

/* FLAT STYLE */

body.flat .unit,
body.flat .marker,
body.flat .event {
    border-width: 1px;
    border-style: solid;
}

body.flat .unit.highlight {
    box-shadow:0 0 0 2px yellow;
}

body.flat .unit.selected {
    box-shadow:0 0 0 2px crimson;
}

/* BEVEL STYLE ( top right bottom left ) */

body.bevel .unit,
body.bevel .marker,
body.bevel .event {
    border-width: 2px;
    border-style: solid;
}

/* TRACKS */

/* TODO */
#vp_marker { left: 76px; top: 39px; }
#vp_marker.vp_0 { top: 592px; }
#vp_marker.vp_1 { top: 647px; }
#vp_marker.vp_2 { top: 702px; }
#vp_marker.vp_3 { top: 757px; }
#vp_marker.vp_4 { top: 812px; }
#vp_marker.vp_5 { top: 867px; }
#vp_marker.vp_6 { top: 923px; }
#vp_marker.vp_7 { top: 978px; }
#vp_marker.vp_8 { top: 1033px; }
#vp_marker.vp_9 { top: 1089px; }
#vp_marker.vp_10 { top: 1144px; }
#vp_marker.vp_11 { top: 1144px; }
#vp_marker.vp_12 { top: 1144px; }
#vp_marker.vp_13 { top: 1144px; }
#vp_marker.vp_14 { top: 1144px; }
#vp_marker.vp_15 { top: 1144px; }
#vp_marker.vp_16 { top: 1144px; }
#vp_marker.vp_17 { top: 1144px; }
#vp_marker.vp_18 { top: 1144px; }
#vp_marker.vp_19 { top: 1144px; }
#vp_marker.vp_20 { top: 1144px; }

#ap_mo { left: 1180px; top: 1542px; }
#ap_mo.fr { left: 1180px; }
#ap_mo.br { left: 1220px; }
#ap_mo.it { left: 1260px; }
#ap_mo.ru { left: 1300px; }
#ap_mo.none { left: 1340px; }

#cp_mo { left: 1210px; top: 72px; }
#cp_mo.ah { left: 1050px; }
#cp_mo.ah_it { left: 1090px; }
#cp_mo.tu { left: 1130px; }
#cp_mo.ge { left: 1170px; }
#cp_mo.none { left: 1210px; }


/* MARKERS */

.marker{width:45px;height:45px;}
.marker.small{width:36px;height:36px}

.event{width:54px;height:54px;background-size:cover;display:none}
.event.show{display:block}

/* COLORS */


/* MOBILE PHONE LAYOUT */

@media (max-width: 640px) {
    .hand .card {
        width: 120px;
        height: 168px;
        border-radius: 8px;
    }
    .hand {
        min-height: 168px;
    }
    #tooltip {
        top: 10px;
        right: 10px;
    }
    #removed, #discard {
        position: static;
        box-shadow: none;
        border-top: none;
        width: auto;
    }
    #removed { grid-row: 3; }
    #discard { grid-row: 4; }
}

